
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Business. Politics. Culture.</span></h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
      <% @posts.each_slice(3).to_a.each do |chunk| %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-centered">
      <% chunk.each do |posts| %>
      <a href="<%= posts[:link] %>"><p><strong><%= posts[:title] %></strong></p></a>
      <p><span class="badge bg-warning"><%= posts[:category].to_s.html_safe  %></span></p>
      <small><p style="margin-top:-10px"><a href="<%= posts[:link].html_safe %>"></a></p></small>
      <p><%= posts[:description].html_safe %></p>
       <% end %>
    </div>
    <%end %>
  </div>
</div>
