<!DOCTYPE html>
<html>
  <head>
    <title>Newly Legal Media - Creating transparency in cannabis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Creating transparency in cannabis. Newly Legal team.">
    <meta name="generator" content="Hugo 0.88.1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
